#django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

*.docx
*.pdf
**/__pycache__
**/migrations

*/docs/*
node_modules
ncp-debug.log
npm-debug.log
src/config/configSec.js

.DS_STORE
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
coverage/
.module-cache
*.gem
xamples/shared/*.js
test/the-files-to-test.generated.js
*.log*
*.sublime-project
*.sublime-workspace
.idea
*.imln

